<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Books catalog</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/reset.css" rel="stylesheet" media="screen" />
		<link rel="stylesheet" href="css/font-awesome.min.css">
		<link href="css/global.css" rel="stylesheet" media="screen" />
	</head>
	<body>
		<div class="global-wrap">
			<header class="global-header clearfix">
				<a href="#" class="logo">BOOK CATALOG</a>
				
				<nav class="global-nav">
					<ul class="clearfix">
							<li><a href="books.html">Home</a></li>
							<li><a href="authors.html">Author</a></li>
							<li><a href="genres.html">Genre</a></li>
					</ul>
				</nav>
			</header>
			<main class="global-main">
				
				<div class="content-padding clearfix">
					
					<div class="article-list">
					
						<h1>BOOK</h1>
									
						<div class="articles">
							%BOOKS%
							<article>
								<h2>Book name</h2>
								<div class="article-desc">
									<p>Price</p>
								</div>
								<div class="text-right">
									<a href="#" class="button btn-red">Read more</a>
								</div>
							</article>

							<article>
								<h2>Book name</h2>
								<div class="article-desc">
									<p>Price</p>
								</div>
								<div class="text-right">
									<a href="#" class="button btn-red">Read more</a>
								</div>
							</article>

							<article>
								<h2>Book name</h2>
								<div class="article-desc">
									<p>Price</p>
								</div>
								<div class="text-right">
									<a href="#" class="button btn-red">Read more</a>
								</div>
							</article>

							<article>
								<h2>Book name</h2>
								<div class="article-desc">
									<p>Price</p>
								</div>
								<div class="text-right">
									<a href="#" class="button btn-red">Read more</a>
								</div>
							</article>

							
						
							
							
						</div>
						
					</div>
				</div>
			</main>
			<footer class="global-footer">
				&copy; Team 1 User2_User6_User10
			</footer>
		</div>
		</body>
</html>
